<!DOCTYPE html>
<html>
  <head>
    <title>Responsive Design</title>
     <link rel="stylesheet" href="static/css/main.css">
  </head>

  <body>
    <div id="page">
        <div class="blog section">
            <h1 class="title">Recently in <a href="#">The Bot Blog</a></h1>
            <div class="figure">
                <p><img src="static/images/fly.png" alt=""/>
                <b class="figcaption">Flying in Domenical, Costa Rica!</b></p>
            </div>
            <div class="main">blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
            </div><!-- /end .main -->

            <div class="other">blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
            </div><!-- /end .other -->
        </div><!-- /end .blog.section -->
    </div><!-- /end #page -->
